@font-face {
	font-family: "Lolita Medium";
	src: url(./fonts/lolita_medium.woff);
}

@font-face {
	font-family: "Bree Serif";
	src: url(./fonts/bree_serif_regular.otf);
}

body {
	font-family: "Lolita Medium";
	background-color: rgba(242, 235, 191, 0.5);
	color: rgba(92, 75, 81, 1);
}

button {
	margin: 5px;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
	font-family: "Bree Serif";
}

.biopic {
	margin-bottom: 15%;
}

.biopic, .quotePic {
	width: 25%;
}

.showOffline .caption {
	height: 150px;
}

.offline img {
	height: 200px;
}

.showOnline .caption {
	height: 150px;
}

.skills-item {
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.thumbnail img {
	width: 100%;
}

.twitchLogo {
	margin-top: -50px;
}

#about h2 {
	padding-top: 10%;
}

#contact-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-list {
	font-size: 2em;
}

#about, #contact {
	padding: 20% 5% 20% 5%;
}

#footer {
	padding-bottom: 20%;
}

#headerHeadline {
	font-size: 1.75em;
}

#home, #portfolio, #currentBox, #forcastBox, #resultsBox, #speakerButton {
	padding: 5% 5% 2% 5%;
}

#hidden_iframe {
	display: none;
}

#main {
	margin-top: 60px;
}

#main a, #footer a, .btn-link {
	color: rgba(240, 96, 96, 1);
}

#main .btn-default, #main .btn-primary {
	color: rgba(92, 75, 81, 1);
}

#main dd, p, label {
	font-size: 1.5em;
}

#main dt {
	font-size: 2em;
}

#main .btn-link {
	font-size: 2em;
}

#mynavbar, .navbar-brand {
	margin: 5px 20px 5px 5px;
	font-size: 1.75em;
}

#name {
	margin-top: 15%;
	font-size: 3em;
}

#skills {
	list-style-type: none;
	margin: 20px;
	padding: 10px;

}

#skills i {
	font-size: 5em;
}

#portfolio {
	clear: both;
}

#portfolio p {
	font-size: 1em;
}

#quoteBox blockquote {
	font-size: 1.75em;
}

#welcomeMessage {
	font-size: 2em;
}

@media only screen and (max-width: 500px) {

button {
	margin: 20px;
}

#about, #contact {
	padding: 30% 5% 30% 5%;
}

#about h2 {
	padding-top: 30%;
}

#contact-list {
	font-size: 4em;
}

#main {
	margin-top: 60px;
}

#main dd, p, label {
	font-size: 2em;
}

#main dt {
	font-size: 3em;
}

#main .btn-link {
	font-size: 3em;
}

#mynavbar, .navbar-brand {
	margin: 5px 20px 5px 5px;
	font-size: 2.25em;
}

#name {
	margin-top: 15%;
	font-size: 3.5em;
}

#footer {
	padding-bottom: 30%;
}

}