@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
@font-face {
	font-family: "Lolita Medium";
	src: url(./fonts/lolita_medium.woff);
}
body {
	font-family: "Lolita Medium";
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: "Bree Serif";
}

#hidden_iframe {
	display: none;
}

#main {
	margin-top: 60px;
}