@import 'https://fonts.googleapis.com/css?family=PT+Sans|Bree+Serif';

body {
  position: relative;
}

p, .navbar, form {
  font-family: "PT Sans";
}

h1, h2, h3, .navbar-brand {
  font-family: "Bree Serif";
}

h2 {
  font-size: 2.5em;
}

footer a {
  color: #FFFFFF;
}

.img-circle {
  width: 20%;
}

.navbar, form {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
}

 .jumbotron {
  margin: 0px 40px 20px 40px;
  padding: 120px 80px 120px 80px;
}


.social li {
  margin: 10px;
  padding: 13px 0;
  font-size: 1.5em;
  border-style: solid;
  border-width: 4px;
  border-color: #FFFFFF;
  border-radius: 50%;
}

.social a {
  display: block;
  width: 60px;
}

#main {
  padding: 0;
}

#home, #about, #portfolio, #contact {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#home {
  padding: 260px 0 360px 0; 
  background: url("https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a40432a29a1c55fc0b2ec7f1f2271877");
  background-size: cover;
}

#about, #contact {
  padding: 220px 60px 220px 60px; 
}

#portfolio {
  padding: 60px; 
}

#about {
  background: #FFE4E1;
}

#portfolio {
  background: #F0F0F0;
}

#contact, body, footer {
  background: #F08080;
}

#home, #about, #portfolio, #contact p, h2, h3, label {
  color: rgba(0,0,0,0.875);
}

#contact a {
  color: #FFFFFF;
}

@media (max-width: 767px){
    #home {
    padding: 100px 0 80px 0;
  }
  
  .jumbotron {
    padding: 40px 80px 40px 80px;
  }
  
  #about, #contact {
    padding: 60px;
  }
} 
