@import 'https://fonts.googleapis.com/css?family=PT+Sans|Bree+Serif';

body {
    position: relative;
    margin-top: 100px;
    background-color: #B1CBBB;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a8/Crowd_of_bathers_on_the_Lake_Michigan_beach,_ca._1925_-_NARA_-_535893.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p, .navbar, form {
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3, blockquote p, .navbar-brand {
    font-family: "Bree Serif", serif;
}

h1 {
    line-height: 200%;
}

dl {
    margin: 0 10% 0 0;
}

blockquote {
    color: #C94C4C;
    margin: 0 10%;
}

h1, h2, h3, a, dt {
    color: #66997A;
}

a:hover {
    color: #C94C4C;
}

footer a {
    color: #66997A;
}

.navbar {
    font-size: 1.25em;
}

.navbar-brand {
    font-size: 1.75em;
}

.main-box {
    background-color: rgba(250,250,250,0.875);
    border-style: none;
    border-radius: 10px;
}
