@import 'https://fonts.googleapis.com/css?family=PT+Sans|Bree+Serif';

body {
    position: relative;
    margin-top: 80px;
    background: #FFE4E1;
}

p, .navbar {
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3, .navbar-brand {
    font-family: "Bree Serif", serif;
}

p, h1, h2, h3, .btn {
    color: rgba(0,0,0,0.875);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.navbar, p, .btn, #searchUsers {
    font-size: 1.25em;
}

.navbar-brand {
    font-size: 1.75em;
}

.caption {
    height: 150px;
}

.caption p {
    font-size: 0.875em;
}

.twitchLogo {
    margin-top: -50px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    background-color: #FFFFFF;
}

#twitchaccounts {
    padding: 60px; 
}

#searchRow {
    margin-top: 10px;
}

@media (max-width: 767px){
    .twitchLogo {
        margin-top: -30px;
    }
    .caption {
        height: 125px;
    }
} 