@import 'https://fonts.googleapis.com/css?family=PT+Sans|Bree+Serif|Shadows+Into+Light+Two';

body {
    position: relative;
  margin: 200px 0 0 0;
  background-color: #FEFBD8;
  background-image: url("http://chznbaum.github.io/images/italian-landscape-mountains-nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

p, .navbar {
  font-family: "PT Sans", sans-serif;
}

h1, h2, h3, .navbar-brand {
  font-family: "Bree Serif", serif;
}

blockquote p {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.75em;
}

blockquote {
  margin: 40px;
}

blockquote footer {
  font-size: 1em;
  color: rgba(250,250,250,0.875);
}

footer a {
  color: #FFFFFF;
}

.navbar {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
}

.btn {
  font-size: 1.25em;
}

#generator {
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  border-style: none;
  border-radius: 10px;
}

@media (max-width: 767px) {
  body {
    margin: 100px 0 0 0;
    background-position: center;
    background-attachment: fixed;
  }
  
  blockquote {
    margin: 10px;
  }
}